<ion-view class="categorias-view">
  <ion-nav-title>
    <span>Emisoras</span>
  </ion-nav-title>
  <ion-content>
    <div class="list card">
     <div class="item item-image">
        <a ui-sref="app.top40">  <img src="img/top40.png"></a>
   </div>
    </div>
    <div class="list card">
     <div class="item item-image">
        <a ui-sref="app.tropical">  <img src="img/tropical.png"></a>
   </div>
    </div>
    <div class="list card">
     <div class="item item-image">
        <a ui-sref="app.urban">  <img src="img/urban.png"></a>
   </div>
    </div>
  </ion-content>
  <div class="bar bar-footer">
  <iframe id="wppas_zone" frameborder="0" src="http://www.tusexitosfm.com/?wppaszoneid=721" width="100%" height="50" scrolling="no"></iframe>
  </div>
</ion-view>
