<ion-view class="contact-view">
  <ion-nav-title>
    <span>Contact</span>
  </ion-nav-title>
  <ion-content>
    <div>
      <img class="header" src="img/about-header.png">
    </div>
    <div class="contact-content">
      <div class="">
        <p>
          Tus Exitos Fm es una plataforma que te trae los exitos mas sobresalientes de la música latina.  Te ofrecemos noticias e informacion de interes en el mundo del espectáculo. Contamos con 3 estaciones de música en los formatos Top 40, Tropical y Urban donde tienes la variedad de ]musica sin comerciales.  Baja nuestra App y comienza a disfrutar de la mejor programación. Tu estacion de Radio por internet mas completa y gratis.
        </p>

      </div>
      <div class="contact-details-item">
        <h4>Contact Us</h4>
        <div class="featured">Tus Exitos FM</div>
        <div><b>Email: TusExitosFMProg@gmail.com</b></div>
      </div>
      <div class="contact-details-item">
        <h4>Redes Sociales</h4>
        <div class="row social-networks" dynamic-anchor-fix>
          <div class="col"><a href="http://facebook.com/tusexitosfm"><i class="icon ion-social-facebook facebook-icon"></i></a></div>
          <div class="col"><a href="http://twitter.com/tusexitosfm"><i class="icon ion-social-twitter twitter-icon"></i></a></div>
          <div class="col"><a href="http://www.instagram.com/tusexitosfm/"><i class="icon ion-social-instagram instagram-icon"></i></a></div>

        </div>
      </div>
      <div class="send-email">
        <a class="button button-outline button-block featured" href="mailto:Tusexitosfmprog@gmail.com">
          Send us an email
        </a>
      </div>

    </div>
      <div style="height:60px;"></div>
  </ion-content>
  <div class="bar bar-footer">
  <iframe id="wppas_zone" frameborder="0" src="http://www.tusexitosfm.com/?wppaszoneid=721" width="100%" height="50" scrolling="no"></iframe>
  </div>
</ion-view>
